#contenedores{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 14%;
}

body{
  background: url(fondo.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-size: 100%;
  background-color:#75706d;
}

.lugarPrimero{
  border: 1px solid;
  border-radius: 4%;
  padding: 0%;
  padding-left:10%;
  padding-right:9%;
  padding-bottom: 30%;
  position: relative;
  margin-top: 7%;
  margin-left: 6%;
  margin-right: 2%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 170%;
}

.lugarSegundo{
  border: 1px solid;
  border-radius: 4%;
  padding: 0%;
  padding-left:10%;
  padding-right:9%;
  padding-bottom: 30%;
  position: relative;
  margin-top: 7%;
  margin-left: 6%;
  margin-right: 2%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 170%;
}

.lugarTercero{
  border: 1px solid;
  border-radius: 4%;
  padding: 0%;
  padding-left:10%;
  padding-right:9%;
  padding-bottom: 30%;
  position: relative;
  margin-top: 7%;
  margin-left: 6%;
  margin-right: 2%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 170%;
}

h1{
    text-align: center;
    font-family: monospace;
    font-size: 200%;
}
h2{
  text-align: center;
  margin-top: 11%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.horarios{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hora1{
    padding: 0%;
    padding-left:10%;
    padding-right:9%;
    padding-bottom: 30%;
    position: relative;
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 8%;
    background-repeat: no-repeat;
    background-position: center center;
}
.hora2{
  padding: 0%;
  padding-left:10%;
  padding-right:9%;
  padding-bottom: 30%;
  position: relative;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 6%;
  background-repeat: no-repeat;
  background-position: center center;
}
.hora3{
  padding: 0%;
  padding-left:10%;
  padding-right:9%;
  padding-bottom: 30%;
  position: relative;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  background-repeat: no-repeat;
  background-position: center center;
}